
:root {
    --color: maroon;
    --transition-time: 1s;
}
 
 

/* card styling */
/* .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
    margin-top: 2rem;

} */

/* .csr-card {
    transition: 0.5s;
} */

.csr-card:hover {
    transform: translate3d(4px, 10px, 3px);
}

/* card interface linkable text */
.card {
    font-family: "Heebo";
    --bg-filter-opacity: 0.5;
    /* background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)),
            rgba(0, 0, 0, var(--bg-filter-opacity))),
        var(--bg-img); */
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    /* initial text color */
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid transparent;
    border-image: linear-gradient(30deg, black, white);
    border-image-slice: 1;
    border-radius: 10px;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

/*event topic */
.card h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}


/* description */
.card p {
    font-size: 0.75em;
    font-family: "Open Sans";
    margin-top: 0.5em;
    line-height: 2em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    color:rgb(45, 39, 39)
}

/* date display */
.card .tags {
    display: flex;
}

/* card bottom date tag style */
.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.3);
    color: #353535;
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

/* card bottom date tag hovering style */
.card:hover .tags .tag {
    background: var(--color);
    color: white;
}

.card:before,
.card:after {
    content: "";
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: linear-gradient(gray, white);
    width: 200%;
    height: 200%;
}

.card:hover {
    color: var(--color);
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

/* MEDIA QUERIES */
/* @media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }

    .card {
        max-width: calc(100vw - 4rem);
    }
} */


/* ////////  top cover page media queris set for all ///////// */
/* @media screen and (max-width: 650px) {

    .cover .content {

        padding-top: 25vmin;
        height: 100%;
    }

}

@media screen and (max-width: 600px) {

    .cover .content {

        padding-top: 30vmin;
        height: 100%;
    }

}

@media screen and (max-width: 550px) {

    .cover .content {

        padding-top: 35vmin;
        height: 100%;
    }

}

@media screen and (max-width: 350px) {


    .cover {
        height: 50vh;
    }


    .cover .content {

        padding-top: 40vmin;
    }

} */